<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://java.sun.com/xml/ns/javaee"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
      id="WebApp_ID" version="2.5">
      <display-name>JCollegeAppProject</display-name>
      <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
      </welcome-file-list>

      <servlet>
            <servlet-name>dispatcher</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      </servlet>
      <servlet-mapping>
            <servlet-name>dispatcher</servlet-name>
            <url-pattern>/</url-pattern> <!-- / means map every servlet -->
      </servlet-mapping>

      <login-config>
            <auth-method>FORM</auth-method>
            <form-login-config>
                  <form-login-page>/WEB-INF/views/Login.jsp</form-login-page>
                  <form-error-page>/loginFailure</form-error-page>
            </form-login-config>
      </login-config>


      <security-role>
            <role-name>Student</role-name>
      </security-role>
      <security-role>
            <role-name>Professor</role-name>
      </security-role>
      <security-role>
            <role-name>ITAdmin</role-name>
      </security-role>
      <security-role>
            <role-name>Registrar</role-name>
      </security-role>

      <security-constraint>
            <web-resource-collection>
                  <web-resource-name>Student Pages</web-resource-name>
                  <url-pattern>/student/*</url-pattern>
                  <http-method>POST</http-method>
                  <http-method>GET</http-method>
            </web-resource-collection>
            <auth-constraint>
                  <role-name>ITAdmin</role-name>
                  <role-name>Registrar</role-name>
                  <role-name>Student</role-name>
            </auth-constraint>
      </security-constraint>

      <security-constraint>
            <web-resource-collection>
                  <web-resource-name>Professor Pages</web-resource-name>
                  <url-pattern>/professor/*</url-pattern>
                  <http-method>POST</http-method>
                  <http-method>GET</http-method>
            </web-resource-collection>
            <auth-constraint>
                  <role-name>ITAdmin</role-name>
                  <role-name>Registrar</role-name>
                  <role-name>Professor</role-name>
            </auth-constraint>
      </security-constraint>

      <security-constraint>
            <web-resource-collection>
                  <web-resource-name>Registrar Pages</web-resource-name>
                  <url-pattern>/registrar/*</url-pattern>
                  <http-method>POST</http-method>
                  <http-method>GET</http-method>
            </web-resource-collection>
            <auth-constraint>
                  <role-name>ITAdmin</role-name>
                  <role-name>Registrar</role-name>
            </auth-constraint>
      </security-constraint>

      <security-constraint>
            <web-resource-collection>
                  <web-resource-name>IT Admin Pages</web-resource-name>
                  <url-pattern>/itAdmin/*</url-pattern>
                  <http-method>POST</http-method>
                  <http-method>GET</http-method>
            </web-resource-collection>
            <auth-constraint>
                  <role-name>ITAdmin</role-name>
            </auth-constraint>
      </security-constraint>
</web-app>

