@CHARSET "ISO-8859-1";

.timetableItem {
	background-color: #DADADA;
	margin: 5px;
	width: 250px;
}

th, td {
	border: 1px solid grey;
}

table {
	border: 1px solid grey;
}

.courseName {
	text-align: center;
	font-weight: bold;
}